# Исходный код

In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  robot

# Преобразование

## Без использования get_dummies

Просто создаем новые столбцы для каждой уникальной категории в столбце whoAmi и заполняем их, затем удаляем столбец whoAmi

In [2]:
categories = data['whoAmI'].unique()
for category in categories:
    data[category] = (data['whoAmI'] == category).astype(int)

newdata = data.drop('whoAmI', axis=1)
newdata.head()

   robot  human
0      1      0
1      1      0
2      0      1
3      1      0
4      1      0

## Используя get_dummies

Пересоздаю таблицу, чтобы точно не мешали прошлые преобразования из 1-го способа.

In [3]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  human
3  robot
4  robot

In [4]:
one_hot_encoded = pd.get_dummies(data['whoAmI'], prefix='whoAmI')
data = pd.concat([data, one_hot_encoded], axis=1).drop('whoAmI', axis=1)
data.head()

   whoAmI_human  whoAmI_robot
0             1             0
1             1             0
2             1             0
3             0             1
4             0             1